/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0;
  background: #fff;
  border-bottom: 1px solid black;
}

.header h1 {
  flex-basis: auto;
  flex-grow: 1;
  margin: 0 .4em;
  vertical-align: middle;
}

.file-list {
  border: 1px solid gray;
  padding: 0 5px;
  margin-top: 11px;
}

.file-list li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  min-height: 3em;
  margin-bottom: 1em;
  margin-top: 1em;
  border-bottom: 1px solid gray;
}

.file-list li:last-child {
  margin-bottom: 0;
  border-bottom: none;
}

/* Prevents children from taking multiple lines (even when they don't have to) and they also don't fill vertical space*/
.file-list .number-container{
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.file-list .item-name-container {
  flex-basis: auto;
  flex-grow: 1;
  margin: 0 .4em;
  vertical-align: middle;
}

.file-list .item-name {
  margin: 0;
  vertical-align: middle;
}

.file-list .cancel {
  /* Passes WCAG AAA contrast ratio */
  background-color: #EFC7C7;
  color: #800000;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  background: #fff;
  box-shadow: 2px 2px 3px 0px #999999;
  display: none;
  left: 0;
  position: absolute;
}

.dropdown-content button {
  width: 100%;
  margin: 1px;
}

.dropdown:hover > .dropdown-content, .dropdown-content.clicked {
  display: block;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
